#container{
    position: relative;
    display: flex;
    width: 1920px;
    height: 1080px;
    background-color: #ffffff;
    background-image:url("../src/PlanoApartamento.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

/*#plano{
    background-image:url("../src/PlanoApartamento.jpg");
    /*background-color: url("../src/PlanoApartamento.jpg");*/
    /*background-size: 40%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 60%;    
}

/*.luz{
    /*position: relative;
    background-color: #b7c725;
    /*opacity: 50%;
}*/
.Alcoba3{
    position: absolute;
    background-color: #b7c725;
    opacity: 50%;
    width: 216px;
    height: 225px;
    left: 887px;
    top: 192px;
}

.Alcoba2{
    position: absolute;
    background-color: #b7c725;
    opacity: 50%;
    width: 226px;
    height:224px;
    left: 1111px;
    top:192px;
}

.Alcoba1{
    position: absolute;
    background-color: #b7c725;
    opacity: 50%;
    width: 243px;
    height: 362px;
    left: 1203px;
    top: 478px;
}

.baño1{
    position: absolute;
    background-color: #b7c725;
    opacity: 50%;
    width: 108px;
    height: 189px;
    left: 964px;
    top: 561px;
}

.baño2{
    position: absolute;
    background-color: #b7c725;
    opacity: 50%;
    width: 108px;
    height: 189px;
    left: 1084px;
    top: 561px;
}

.cocina{
    position: absolute;
    background-color: #b7c725;
    opacity: 50%;
    width: 253px;
    height: 153px;
    left: 563px;
    top: 597px;
}

.lavado{
    position:absolute;
    background-color: #b7c725;
    opacity: 50%;
    width: 127px;
    height: 130px;
    left: 826px;
    top: 620px;
}

.sala{
    position: absolute;
    background-color: #b7c725;
    opacity: 50%;
    width: 406px;
    height: 291px;
    left:470px;
    top: 258px;
}

.puertaAlcoba3{
    position: absolute;
    opacity: 50%;
    border: 2px solid #555;
    background-color: #5cb85c;
    width: 69px;
    height: 69px;    
    border-radius: 100% 0 0 0; /*Orden parametros: borde izquierdo superior, borde derecho superior, borde derecho inferior, borde izquierdo inferior*/    
    left: 1031px;
    top:394px;
}

.puertaAlcoba2{
    position: absolute;
    opacity: 50%;
    border: 2px solid #555;
    background-color: #5cb85c;
    width: 69px;
    height: 69px;
    border-radius: 0 100% 0 0;
    left: 1111px;
    top: 394px;
}

.puertaAlcoba1{
    position: absolute;
    opacity: 50%;
    border: 2px solid #555;
    background-color: #5cb85c;
    width: 69px;
    height: 69px;
    border-radius: 0 0 100% 0;
    left: 1195px;
    top: 478px;
}

.puertaBaño1{
    position: absolute;
    opacity: 50%;
    border: 2px solid #555;
    background-color: #5cb85c;
    width: 58px;
    height: 58px;
    border-radius: 0 0 0 100%;
    left: 1141px;
    top: 561px;
}

.puertaBaño2{
    position: absolute;
    opacity: 50%;
    border: 2px solid #555;
    background-color: #5cb85c;
    width: 58px;
    height: 58px;
    border-radius: 0 0 0 100%;
    left: 1010px;
    top: 550px;
}

.puertaPrincipal{
    position: absolute;
    opacity: 50%;
    border: 2px solid #555;
    background-color: #5cb85c;
    width: 80px;
    height: 80px;
    border-radius: 0 100% 0 0;
    left: 470px;
    top: 678px;
}

.ventanaAlcoba3{
    position: absolute;
    opacity: 50%;
    background-color: #00ffff; /*#3131fc Azul oscuro*/
    width: 139px;
    height: 11px;
    left: 929.5px;
    top: 181px;
}

.ventanaAlcoba2{
    position: absolute;
    opacity: 50%;
    background-color: #00ffff;
    width: 139px;
    height: 11px;
    left: 1147px;
    top: 181px;
}

.ventanaAlcoba1{
    position: absolute;
    opacity: 50%;
    background-color: #00ffff;
    width: 96px;
    height: 11px;
    left: 1350px;
    top: 467px;
}

.ventanaBaño1{
    position: absolute;
    opacity: 50%;
    background-color: #00ffff;
    width: 50px;
    height: 10px;
    left: 1109px;
    top: 750px;
}

.ventanaBaño2{
    position: absolute;
    opacity: 50%;
    background-color: #00ffff;
    width: 50px;
    height: 10px;
    left: 1022px;
    top: 750px;
}

.ventanaLavado{
    position: absolute;
    opacity: 50%;
    background-color: #00ffff;
    width: 50px;
    height: 10px;
    left: 903px;
    top: 750px;
}

.ventanaIzquierdaBalcon{
    position: absolute;
    opacity: 50%;
    background-color: #00ffff;
    width: 166px;
    height: 12px;
    left: 470px;
    top: 246px;
}

.ventanaDerechaBalcon{
    position: absolute;
    opacity: 50%;
    background-color: #00ffff;
    width: 167px;
    height: 12px;
    left: 709px;
    top: 246px;
}

/*Prototipo objeto Persona*/
.persona{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 100px;
}

