#container{
    position: absolute;
    display: flex;
    width: 99%;
    height: 99%;
    background-color: #ffffff;    
}

#plano{
    background-image:url("../src/PlanoApartamento.jpg");
    /*background-color: url("../src/PlanoApartamento.jpg");*/
    background-size: 40%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 60%;    
}

/*.luz{
    /*position: relative;
    background-color: #b7c725;
    /*opacity: 50%;
}*/
.Alcoba3{
    position: fixed;
    background-color: #b7c725;
    opacity: 50%;
    width: 157.3px;
    height: 165px;
    left: 47.15%;
    top: 25%;
}

.Alcoba2{
    position: fixed;
    background-color: #b7c725;
    opacity: 50%;
    width: 165px;
    height:165px;
    left: 55.75%;
    top:25%;
}

.Alcoba1{
    position: fixed;
    background-color: #b7c725;
    opacity: 50%;
    width: 180px;
    height: 301px;
    left: 59.15%;
    top: 48.6%;
}

.baño1{
    position: fixed;
    background-color: #b7c725;
    opacity: 50%;
    width: 78px;
    height: 138px;
    left: 50.1%;
    top: 55.5%;
}

.baño2{
    position: fixed;
    background-color: #b7c725;
    opacity: 50%;
    width: 78px;
    height: 138px;
    left: 54.7%;
    top: 55.5%;
}

.cocina{
    position: fixed;
    background-color: #b7c725;
    opacity: 50%;
    width: 189px;
    height: 113px;
    left: 34.7%;
    top: 58.5%;
}

.lavado{
    position:fixed;
    background-color: #b7c725;
    opacity: 50%;
    width: 93px;
    height: 95px;
    left: 44.8%;
    top: 60.4%;
}

.sala{
    position: fixed;
    background-color: #b7c725;
    opacity: 50%;
    width: 297px;
    height: 213px;
    left:31.2%;
    top:30.5%;
}

.puertaAlcoba3{
    position: fixed;
    opacity: 50%;
    border: 2px solid #555;
    background-color: #5cb85c;
    width: 50px;
    height: 50px;    
    border-radius: 100% 0 0 0; /*Orden parametros: borde izquierdo superior, borde derecho superior, borde derecho inferior, borde izquierdo inferior*/
    /*-moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;*/
    left: 52.6%;
    top:41.7%;
}

.puertaAlcoba2{
    position: fixed;
    opacity: 50%;
    border: 2px solid #555;
    background-color: #5cb85c;
    width: 50px;
    height: 50px;
    border-radius: 0 100% 0 0;
    left: 55.75%;
    top: 41.7%;
}

.puertaAlcoba1{
    position: fixed;
    opacity: 50%;
    border: 2px solid #555;
    background-color: #5cb85c;
    width: 50px;
    height: 50px;
    border-radius: 0 0 100% 0;
    left: 59.15%;
    top: 48.6%;
}

.puertaBaño1{
    position: fixed;
    opacity: 50%;
    border: 2px solid #555;
    background-color: #5cb85c;
    width: 42px;
    height: 42px;
    border-radius: 0 0 0 100%;
    left: 51.8%;
    top: 55.4%;
}

.puertaBaño2{
    position: fixed;
    opacity: 50%;
    border: 2px solid #555;
    background-color: #5cb85c;
    width: 42px;
    height: 42px;
    border-radius: 0 0 0 100%;
    left: 56.8%;
    top: 55.4%;
}

.puertaPrincipal{
    position: fixed;
    opacity: 50%;
    border: 2px solid #555;
    background-color: #5cb85c;
    width: 60px;
    height: 60px;
    border-radius: 0 100% 0 0;
    left: 31.15%;
    top: 65%;
}

.ventanaAlcoba3{
    position: fixed;
    opacity: 50%;
    background-color: #00ffff; /*#3131fc Azul oscuro*/
    width: 104px;
    height: 8px;
    left: 48.7%;
    top: 24.1%;
}

.ventanaAlcoba2{
    position: fixed;
    opacity: 50%;
    background-color: #00ffff;
    width: 104px;
    height: 8px;
    left: 57%;
    top: 24.1%
}

.ventanaAlcoba1{
    position: fixed;
    opacity: 50%;
    background-color: #00ffff;
    width: 71px;
    height: 8px;
    left: 64.8%;
    top: 47.7%;
}

.ventanaBaño1{
    position: fixed;
    opacity: 50%;
    background-color: #00ffff;
    width: 38px;
    height: 8px;
    left: 52.25%;
    top: 71.2%;
}

.ventanaBaño2{
    position: fixed;
    opacity: 50%;
    background-color: #00ffff;
    width: 38px;
    height: 8px;
    left: 55.5%;
    top: 71.2%;
}

.ventanaLavado{
    position: fixed;
    opacity: 50%;
    background-color: #00ffff;
    width: 38px;
    height: 8px;
    left: 47.7%;
    top: 71.2%;
}

.ventanaIzquierdaBalcon{
    position: fixed;
    opacity: 50%;
    background-color: #00ffff;
    width: 123px;
    height: 8px;
    left: 31.2%;
    top: 29.5%;
}

.ventanaDerechaBalcon{
    position: fixed;
    opacity: 50%;
    background-color: #00ffff;
    width: 123px;
    height: 8px;
    left: 40.3%;
    top: 29.5%;
}